APP_CimBatchRouter/PSSPPSTD.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:xsd="http://www.w3.org/2001/XMLSchema">


    <xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="IBMdefined/CommaSeparatedFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="UTF-8" escapeSchemeRef="" ref="csv:CommaSeparatedFormat"/>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:element ibmSchExtn:docRoot="true" name="PSSPPSTD">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="">
											<xsd:element dfdl:terminator="%LF;%WSP*;" maxOccurs="1" name="record">
					<xsd:complexType>
						<xsd:sequence> 
                            							<xsd:annotation>
                <xsd:appinfo source="http://www.ogf.org/dfdl/">
                  <dfdl:sequence/>
                </xsd:appinfo>
              </xsd:annotation>
                            <xsd:element ibmDfdlExtn:sampleValue="" name="SIN" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="" name="LCSUBSTATE" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="" name="METERNO" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="" name="PSSPPSTDSINCE" type="xsd:string"/>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>				
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>



</xsd:schema>